<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Explore Clubs</title>
</head>
<body>
  <h1>Explore Clubs</h1>
  <!-- Add content specific to the Explore Clubs section -->
  <!-- List of clubs functioning as buttons -->
  <ul>
    <li><a href="/clubs/iutsiks">IUTSIKS</a></li>
    <li><a href="/clubs/iutcs">IUTCS</a></li>
    <li><a href="/clubs/iutds">IUTDS</a></li>
    <li><a href="/clubs/iutps">IUTPS</a></li>
    <li><a href="/clubs/iutcbs">IUTCBS</a></li>
  </ul>
</body>
</html>
