<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IUTPS</title>
</head>
<body>
  <h1>IUT DEBATING SOCIETY (IUTDS)</h1>
  <h4>
  IUT Debating Society is one of the most popular and successful clubs in English debating in the debating world. IUTDS was established in 2002, with the motto ‘Debating for Knowledge Dissemination’. Throughout its journey, IUTDS has had glorious achievements both in Bangladesh, by becoming national champions, and internationally, by ranking highly at the Worlds Universities Debating Championship (WUDC). Along with these tangible achievements, IUTDS has also established a tradition and culture of free speech and exchange of ideas amongst its students. The annual Intra-IUT debates and the fact that international students from Pakistan, Uganda, Afghanistan and Gambia have represented IUT in inter-university competitions tell the story of the platform that IUTDS provides for the students to engage in.
<br><br>
  IUT Debating Society has been entrusted with the responsibility of putting IUT on the map as a regular participant in the World Universities Debating Championship [WUDC]. IUTDS created history in the World Championship 2008 (Thailand) by scoring 12 team points in 2008 WUDC, a score of 13 in the 2010 WUDC in Turkey and followed it up by scoring 12 points in 2012 WUDC in Philippines as well as in 2013 in Germany and 2014 WUDC in India. In Turkey, Rishad Sharif, our former President and Salman Saquib scored 664 points each which was also a record by any Bangladeshi speaker for highest ever individual points. The society has recently been ranked 30th (ranked first amongst Bangladeshi Universities) in the ESL category out of over 500 Debate Clubs according to 6th January 2012. In 2013, According to International Debate Education Association (IDEA) IUTDS had ranked 208th (2nd in Bangladesh) among 942 universities around the world.
<br><br>
  IUT Debating Society also specializes in organization of National and International tournaments. The journey of organizing started in 2007 with an international tournament BD OPEN. It later continued the legacy by organizing the IUT Nationals’09 and also the first IUT IV 2010. The success of the flagship tournament continued with IUT IV 2012. Being a regular host of quality debate tournaments, IUTDS organized the “IUT Professionals 1.0” in 2013. In all the national tournaments IUTDS incorporated International Debating personnel and held the tournaments in international structure.
  </h4>
</body>
</html>
