<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IUTPS</title>
</head>
<body>
  <h1>IUT PHOTOGRAPHIC SOCIETY (IUTPS)</h1>
  <h4>
  Islamic University of Technology Photographic Society (IUTPS) is an on campus organization aimed to bring together the students who share interest in photography and creativity. Founded in 2010, IUTPS is now a prestigious name among the photography club in the university level. Moderated by Dr. KhondokarHabibulKabir, IUTPS currently has around 50 members, with the Executive Body consisting of 10 senior members. IUTPS arrange classes, organize regular photo walks, and intra photography competition to introduce the freshers into the world of photography where they can discover real passion about photography .Members of IUTPS regularly participates in various photographic exhibitions, picking up some major honors along the way, but the most precious possession of IUTPS is 'Break The Circle" an International photography exhibition. Till now IUTPS has successfully organized Break The Circle consecutively for five times. Now it is a well-known name among the photographers. Each year participants from well renowned universities and organizations from home and abroad participate there. IUTPS, welcomes students of all years and departments; encourages students of all skill levels to participate, IUTPS strongly believes that success is the ultimate result of team work hence there goes there motto 'LESS ME MORE WE'
  </h4>
</body>
</html>
