<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IUTSIKS</title>
</head>
<body>
<h1>IUT SOCIETY OF ISLAMIC KNOWLEDGE SEEKERS (IUT SIKS)</h1>
<h4>
The students of IUT have created different societies in IUT such as IUT Debating Society, IUT Computer society, IUT Robotics Society and so on. With the blessing of Allah, IUTian students have also created another great society which is only for the purpose of satisfying Allah named IUT Society of Islamic Knowledge Seekers. It includes all those who are willing to widen their knowledge about matters involving Islam. IUT facilitates with the right environment to practice and expand our knowledge about Islamic matters which we believe is a duty of all of the Muslims. So beside all the other societies functioning within IUT, IUTSIKS carries out a vital role by keeping the students in constant touch with Islamic thoughts and programs alike which the club enthusiastically organizes around the year.The motto of IUT Society of Islamic Knowledge Seekers is "Seeking the true knowledge of Islam" Initially IUT Society of Islamic Knowledge Seekers was called IUT Islamic Study Society that is in short IUTISS which was established in 2008. Later in 2016, the name was changed to IUT Society of Islamic Knowledge Seekers, which is in short form, IUT SIKS.
<br><br>
The main purpose of IUT Society of Islamic Knowledge seekers is, seeking Islamic knowledge... as our beloved prophet Muhammad (sm) said, "Seeking knowledge is a duty upon every Muslim".
</h4>
</body>
</html>
