<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reach Us</title>
</head>
<body>
  <h1>Emails</h1>
  <!-- Add content specific to the Explore Clubs section -->
  <h3>fattahmahmud@iut-dhaka.edu</h3>
</body>
</html>
